

@font-face{
  font-family: 'centrale_sans_roundedbook';
  src: url('fonts/central-sans-rounded/centralesansrndbook-webfont.eot');
  src: url('fonts/central-sans-rounded/centralesansrndbook-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/central-sans-rounded/centralesansrndbook-webfont.woff2') format('woff2'), url('fonts/central-sans-rounded/centralesansrndbook-webfont.woff') format('woff'), url('fonts/central-sans-rounded/centralesansrndbook-webfont.ttf') format('truetype'), url('fonts/central-sans-rounded/centralesansrndbook-webfont.svg#centrale_sans_roundedbook') format('svg');
  font-weight: normal;
  font-style: normal;
}


